.table-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  height: 50px;
}
.table-data {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  opacity: 0.9;
  height: 40px;
}

.title-table {
  width: 870px;
  text-align: start;
}

/* Costum Checkbox */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20%;
  transition: transform 0.2s ease-in-out;
}

.cmt {
  background-color: #dbeaf4;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a secondary background */
.container input:checked ~ .checkmark {
  background-color: var(--color-secondary);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}
.container .cmt:after {
  border-color: #dbeaf4;
}

.container input:checked ~ .cmt:after {
  border-color: #fff;
}
/* Create a custom minus checkbox */
.minusMark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--color-secondary);
  border: 2px solid #000;
  border-radius: 20%;
  transition: transform 0.2s ease-in-out;
}

/* Create the checkmark/indicator  */
.checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

/* Style the checkmark minus  */

.container .minusMark:after {
  left: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 0px 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}
.container:hover input ~ .minusMark {
  background-color: var(--color-secondary);
}
