.description-input-container > input {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
  padding: 2px 15px;
  cursor: pointer;
  transition: visibility 0.1s ease-out;
  color: rgb(255, 255, 255);
}

.description-input-container > input:focus {
  height: 120px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.input-effects {
  visibility: hidden;
  height: 32px;
  position: absolute;
  width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  left: 15px;
  margin-top: 4px;
  font-size: 15px;
  display: flex;
  top: 178px;
}

input:focus ~ .input-effects {
  visibility: visible;
  width: 87.5%;
}

.input-effects-button {
  margin-left: 1px;
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0);
}

.custom-file-input {
  width: 0;
  visibility: hidden;
}
